extends layouts/main


block content
    .form__container
        form(action=routes.editVideo, method ="post")
            input(type="text", placeholder="Title", name="title")
            input(type="text",placeholder="Description", name="description")
            input(type="submit",value="Update Video")
        a.form-container__line(href=`/videos${routes.deleteVideo}`) Delete Video